<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
    <caption>Danh sach list dang ket noi</caption>
    <th>Hash code Address</th>
    <div id = "tableAddress">
        <script src="../../../resources/static/js/displayAddress.js"></script>
    </div>
</table>
<button>Refresh</button>


<h1>Generate Public, Private Key</h1>
<!-- <label>Private Key</label>    <input type="text" value=""> <br> -->
<label>Public Key</label>    <input type="text" name="publicKey" value=" "> <br>
<label>Name</label>    <input type="text" name="name"><br>
<!-- <label>seftNode</label>    <input type="text" name="selfNode"><br> -->
<input type="button" value="Tao" ></form>
</body>
</html>