<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>



<h1>Generate Public, Private Key</h1>
<!-- <label>Private Key</label>    <input type="text" value=""> <br> -->
<label>Public Key</label>    <input type="text" name="publicKey" value=" "> <br>
<label>Name</label>    <input type="text" name="name"><br>
<!-- <label>seftNode</label>    <input type="text" name="selfNode"><br> -->
<button  id="create">Create</button>
<table border="1" id = "tableAddress">
    <caption>Danh sach list dang ket noi</caption>
    <th>Hash code Address</th>
    <th>Name</th>
    <th>PublicKey</th>
</table>
<table border="1" id = "tableAddress">
    <caption>Danh sach list dang ket noi</caption>
    <th>Hash code Address</th>
    <th>Name</th>
    <th>PublicKey</th>
</table>
<table border="1" id = "tableAddress">
    <caption>Danh sach list dang ket noi</caption>
    <th>Hash code Address</th>
    <th>Name</th>
    <th>PublicKey</th>
</table>
<button>Refresh</button>
<script src="../../../resources/static/js/displayAddress.js"></script>
</body>
</html>