<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Generate Public, Private Key</h1>
<form action="address/add?publish=true" method="post">
<!-- <label>Private Key</label>    <input type="text" value=""> <br> -->
<label>Name</label>    <input type="text" name="name"><br>
<label>Public Key</label>    <input type="text" name="publicKey"> <br>

<!-- <label>seftNode</label>    <input type="text" name="selfNode"><br> -->
<input type="submit" value="Tao" >
</form>
</body>
</html>